@import "../../styles/colors";
@import "../../styles/variables";

.container {
  padding: 0 $space-super $space-super $space-super;
  max-width: $desktop;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (max-width: $tablet) {
    padding: 0 $space-large $space-large $space-large;
  }
}

.heading {
  font-size: 36px;
  padding: $space-large 0;
  text-align: center;

  @media (max-width: $tablet) {
    font-size: 28px;
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.serviceItem {
  display: flex;
  flex-direction: column;

  width: 280px;
  text-align: center;
  margin: 0 $x2;
  height: 600px;

  @media (max-width: $tablet) {
    width: 80%;
    align-items: center;
    justify-content: center;
    height: unset;
  }
}

.serviceImage {
  width: 250px;
  margin-bottom: $space-large;
}

.serviceHeader {
  font-size: 26px;
}

.serviceText {
  font-size: 16px;
}
