@import "../../styles/colors";
@import "../../styles/variables";

.outer {
  background-color: $dark;
  width: 100vw;
}

.container {
  max-width: $desktop;
  padding: 0 $space-super $space-super $space-super;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.heading {
  font-size: 36px;
  padding: $space-large 0;
}
