@import "../../styles/colors";
@import "../../styles/variables";

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: $space-super;
  max-width: $desktop;
  margin: auto;

  @media (max-width: $tablet) {
    padding: $space-large;
  }
}

.content {
  margin-right: $space-large;
}

.heading {
  font-size: 48px;

  @media (max-width: $tablet) {
    font-size: 36px;
  }
}

.subHeading {
  font-size: 26px;

  @media (max-width: $tablet) {
    font-size: 20px;
  }
}

.buttonWrapper {
  display: flex;
  flex-direction: column;

  @media (max-width: $tablet) {
    flex-direction: row;
    justify-content: space-between;
  }
}

.imageWrapper {
  display: flex;
  justify-content: center;

  @media (max-width: $tablet) {
    display: none;
  }
}

.image {
  max-width: 550px;
}
