@import "../../styles/colors";
@import "../../styles/variables";

.container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: $space-super;
  max-width: $desktop;
  margin: auto;
}

.content {
  margin-right: $space-large;
}

.heading {
  font-size: 48px;
}

.subHeading {
  font-size: 26px;
}

.buttonWrapper {
  display: flex;
  flex-direction: column;
}

.imageWrapper {
  display: flex;
  justify-content: center;
}

.image {
  max-width: 550px;
}
