@import "../../styles/colors";
@import "../../styles/variables";

.container {
  padding: 0 $space-super $space-super $space-super;
  max-width: $desktop;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  @media (max-width: $tablet) {
    padding: 0 $space-large $space-large $space-large;
  }
}

.heading {
  font-size: 36px;
  padding: $space-large 0;
  text-align: center;

  @media (max-width: $tablet) {
    font-size: 28px;
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  text-align: center;
  margin: 0 $x2;

  @media (max-width: $tablet) {
    width: 80%;
  }
}

.itemText {
  font-size: 16px;
}
.icon {
  color: $green;
  font-size: 60px;

  @media (max-width: $tablet) {
    font-size: 40px;
  }
}
