@import "../../styles/colors";
@import "../../styles/variables";

.button {
  background-color: $green;
  border-radius: $x1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 50px;
  border: none;
  margin: $x1 0;
  cursor: pointer;
  font-size: 18px;
  color: $dark;
  &:hover {
    opacity: 0.6;
  }

  @media (max-width: $tablet) {
    width: 175px;
    height: 40px;
    font-size: 14px;
  }
}
