body {
  margin: 0;
  font-family: "Lato", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #181820;
  color: #d6edff;
}

h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Arvo", serif;

  color: #d6edff;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
