@import "../../styles/colors";
@import "../../styles/variables";

.button {
  background-color: transparent;
  border: 2px solid $red;
  border-radius: $x1;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 225px;
  height: 50px;
  color: $red;
  margin: $x1 0;
  font-size: 18px;
}
