@import "../../styles/colors";
@import "../../styles/variables";

.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $x1 $x4;
  background-color: $dark;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
}

.image {
  height: 80px;
}
